:root {
  --primary-font: "Poppins", Arial, Helvetica, sans-serif;
  --secondary-font: "Inter", Arial, Helvetica, sans-serif;
  --title-color: #1f2937;
  --subtitle-color: #4b5563;
  --box-background-color: #f3f5f8;
  --primary-button-color: #16a34a;
  --primary-button-color-hover: #21c05c;
  --number-circle-color: #2563eb;
  --light-text-color: #fff;
  --line-color: #b4aeae;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
  color: var(--subtitle-color);
  transition: all 0.2s;
}
a:hover {
  color: var(--title-color);
}

ul {
  list-style: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 190px;
  height: 60px;
  font-size: 16px;
  font-family: var(--primary-font);
  background-color: var(--light-text-color);
  border: transparent;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-button-color);
  color: var(--light-text-color);
  transition: all 0.2s;
}
.btn-primary:hover {
  background-color: var(--primary-button-color-hover);
}

.btn-secondary {
  color: var(--number-circle-color);
  border: 1px solid var(--number-circle-color);
}

.icon {
  width: 24px;
  height: 24px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 32px 12px;
}
header .logo {
  color: var(--title-color);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 32px;
  font-weight: 700;
}
header .logo img {
  width: 36px;
  height: 36px;
}
header .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}
header .nav-list {
  display: flex;
  gap: 14px;
}
header .line {
  width: 100%;
  height: 1px;
  background-color: var(--line-color);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0 12px;
}
.hero h1 {
  font-size: 38px;
  color: var(--title-color);
}
.hero h4 {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: 400;
}
.hero .buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.hero .recicla-image {
  width: 100%;
  max-width: 412px;
}

.circle-number {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--light-text-color);
  font-size: 14px;
  font-weight: 700;
  flex-shrink: 0;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  background-color: var(--box-background-color);
  text-align: center;
  padding: 32px 20px;
}
.stats h2 {
  font-size: 32px;
  color: var(--primary-button-color);
  margin-bottom: 12px;
}

.how-it-works {
  padding: 0 12px;
}
.how-it-works h2 {
  color: var(--title-color);
  font-size: 32px;
  margin-bottom: 16px;
}
.how-it-works h3 {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 32px;
}
.how-it-works p {
  margin-bottom: 32px;
}
.how-it-works .card-how-it-works {
  background-color: var(--box-background-color);
  border-radius: 8px;
  padding: 28px 20px;
}
.how-it-works .card-how-it-works .title-how-it-works {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 32px;
}
.how-it-works .card-how-it-works .title-how-it-works h3 {
  margin: 0;
}
.how-it-works .card-how-it-works ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.how-it-works .card-how-it-works ul li {
  display: flex;
  gap: 10px;
}
.how-it-works .card-how-it-works ul .circle-number {
  margin-bottom: 4px;
}
.how-it-works .card-how-it-works ul p {
  margin: 0;
}
.how-it-works .donors {
  margin-bottom: 32px;
}
.how-it-works .donors h3 {
  color: var(--primary-button-color);
}
.how-it-works .donors .circle-number {
  background-color: var(--primary-button-color);
}
.how-it-works .acquirers h3 {
  color: var(--number-circle-color);
}
.how-it-works .acquirers .circle-number {
  background-color: var(--number-circle-color);
}/*# sourceMappingURL=style.css.map */